.wrapper {
    background: rgb(0 0 0 /12%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.inner{
    background: white;
    height: 400px;
    padding: 30px 30px 20px;
    border-radius: 10px;
    width: 350px;
}


button, input{
    border: none;
    outline: none;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 20px;
    button {
        font-size: 20px;
        padding: 5px 30px;
        
    }
}

.loginActive {
    border-bottom: 1px solid red;
    color: red;
}

.signActive {
    border-bottom: 1px solid red;
    color: red;
}

label {
    color: rgb(0 0 0 /90%);

}

form div {
    border-bottom: solid 1px rgb(0 0 0 /20%);
    padding: 0px 5px 5px;
    margin-bottom: 20px;
    button {
        color: rgb(0 0 0 / 20%)
    }
    input {
        color: rgb(0 0 0 /40%);
        padding: 5px;
        font-size: 14px;
        &::placeholder {
            color: rgb(0 0 0 / 20%);
        }
    }
}

.sign-btn{
    background: #3366cc;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    color: white;
    font-weight: 600;
    &:hover{
        cursor: pointer;
    }
}
