.wrapper {
    padding: 15px 0 20px 20px;
    background: #4d5bf9;
    height: calc(100vh - 100px);
    margin-left: -10px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}



.link {
    background: transparent;
    padding-bottom: 10px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    span {
        margin-left: 20px;
       
    }

    &:hover {
        background: white;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: black;
        button {
            color: black;
            cursor: pointer;
        }
    }
}

button {
    background: transparent;
    color: white;
    font-size: 16px;
}
