table,
tbody {
  width: 100%;
}
input {
  background-color: #fff;
  padding-left: 5%;
}
.inner {
  display: flex;
  width: 90%;
  margin-left: 5%;
  color: black;
}
.inner * {
  font-family: "Times New Roman", Times, serif;
}
.cart {
  width: 90%;
}
.payment {
  display: block;
  width: 40%;
  height: 50%;
  margin-left: 10%;
  margin-top: 6%;
  border-radius: 0.7rem;
  background-color: white;
}
.carttxt {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
}
.cartselect,
.cartproduct {
  display: flex;
  width: 100%;
  font-size: 1.1rem;
  margin-left: 1rem;
  padding: 0.8rem;
  border-radius: 0.7rem;
  background-color: white;
}
.cartproduct {
  margin-top: 1rem;
}
.wrap {
  font-size: 1.5rem;
}
.actioncheck {
  height: 20px;
  width: 20px;
  border: 1px solid #545759;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.1s;
  cursor: pointer;
}
.anothertxt,
.anothertxt1,
.anothertxt2 {
  font-size: 1.4rem;
  margin-top: -0.2%;
  margin-left: 2%;
  margin-right: 35%;
}
.anothertxt1 {
  margin-right: 15%;
}
.anothertxt2 {
  margin-right: 0;
}
.anothertxt3 {
  margin: 3% 3%;
  font-size: 1.2rem;
}
.anothertxt4 {
  margin: 3% 3%;
  font-size: 1.2rem;
  font-weight: bold;
}
.btPay {
  text-decoration: none;
}
.btPay button {
  display: block;
  cursor: pointer;
  width: 80%;
  height: 3rem;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border-radius: 0.7rem;
  background-color: rgb(200, 34, 34);
}
.btPay button:hover {
  background-color: red;
}
.wrap img {
  width: 11rem;
  height: 16rem;
}
.toSetSL {
  width: 5rem;
}
.toSetP {
  width: 13rem;
  text-align: right;
}
@media only screen and (max-width: 1240px) {
  .inner {
    display: block;
  }
  .cart {
    width: 100%;
  }
  .payment {
    width: 50%;
    margin: 0 auto;
  }
  .payment button {
    width: 50%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 780px) {
  .inner {
    display: block;
  }
  .cart {
    width: 100%;
  }
  .anothertxt,
  .anothertxt1,
  .anothertxt2 {
    font-size: 1rem;
  }
  .payment {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .payment button {
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
  }
  .wrap {
    font-size: 1rem;
  }
  .toSetSL {
    width: 3rem;
  }
  .toSetP {
    width: 8rem;
    text-align: right;
  }
}
