.wrapper {
    width: 900px;
    height: 500px;
    margin-top: 4px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row;
    span {
        width: 0.5px;
        height: 400px;
        display: flex;
        background: rgb(0 0 0 / 30%);
    }
}



.category {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h1 {
        font-size: 24px;
        color:rgb(0 0 0 / 50%);
        font-weight: 500;
        padding: 10px;
    }
    button {
        width: 270px;
        padding: 20px 10px 5px;
        font-size: 20px;
        color:black;
        border-radius: 3px;
        display: flex;
        border-bottom: solid 1px rgb(0 0 0 / 30%);
        &:hover {
            background: rgb(0 0 0 / 10%);
            cursor: pointer;
        }
    }
}



.link {
    text-decoration: none;
    color: black;
}

.content {
    height: 100%;
}

.inner {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-category {
    width: 250px;
    display: flex;
    flex-direction: column;
    h3 {
        font-weight: 550;
        font-size: 16px;
        padding: 15px 0 5px;
    }
    .link {
        font-size: 15px;
        padding: 3px;
        color: rgb(0 0 0 / 70%);
    }
    .extend {
        color: #23B5FD;
    }
}



