.wrapper {
    background: white;
    width: 600px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-top: -10px;
    padding: 10px 5px 5px;
    p {
        font-size: 18px;
        padding: 10px 5px;
    }
}

.link {
    text-decoration: none;
}

.search-result {
    display: flex;
    flex-direction: column;
    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 5px;
        &:hover {
            background: rgb(0 0 0 / 10%);
        }
        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-right: 20px;
            border-radius: 5px;
        }
        span {
            text-align: left;
            color: rgb(0 0 0 / 70%);
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            width: 500px;
        }
    }
    
}

.extend {
    color: #23B5FD;
    font-size: 14px;
    margin-top: 20px;
}







@media (max-width: 992px) {
    .wrapper {
        width: calc(100vw - 300px);
    }
}

@media (max-width: 768px) {
    .wrapper {
        width: calc(100vw - 200px)
    }
} 

@media (max-width: 576px) {
    .wrapper {
        width: calc(100vw - 100px);
    }
}