.grid {
    width: 100%;
    display: block;
}
.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-right: -2px;
}
.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.col {
    padding-left: 2px;
    padding-right: 2px;
}
.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}
.xs-0 {
    display: none;
}
.xs-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.xs-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.xs-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.xs-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.xs-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.xs-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.xs-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}
.xs-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}
.xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.xs-o-1 {
    margin-left: 8.33333%;
}
.xs-o-2 {
    margin-left: 16.66667%;
}
.xs-o-3 {
    margin-left: 25%;
}
.xs-o-4 {
    margin-left: 33.33333%;
}
.xs-o-5 {
    margin-left: 41.66667%;
}
.xs-o-6 {
    margin-left: 50%;
}
.xs-o-7 {
    margin-left: 58.33333%;
}
.xs-o-8 {
    margin-left: 66.66667%;
}
.xs-o-9 {
    margin-left: 75%;
}
.xs-o-10 {
    margin-left: 83.33333%;
}
.xs-o-11 {
    margin-left: 91.66667%;
}

/* Small devide */
@media (min-width: 576px) {
    .wide {
        width: calc(100% - 100vh/20);
    }
    .row {
        margin-left: -4px;
        margin-right: -4px;
    }
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }
    .s-0 {
        display: none;
    }
    .s-1,
    .s-2,
    .s-3,
    .s-4,
    .s-5,
    .s-6,
    .s-7,
    .s-8,
    .s-9,
    .s-10,
    .s-11,
    .s-12 {
        display: block;
    }
    .s-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .s-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .s-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .s-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .s-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .s-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .s-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .s-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .s-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .s-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .s-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .s-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .s-o-1 {
        margin-left: 8.33333%;
    }
    .s-o-2 {
        margin-left: 16.66667%;
    }
    .s-o-3 {
        margin-left: 25%;
    }
    .s-o-4 {
        margin-left: 33.33333%;
    }
    .s-o-5 {
        margin-left: 41.66667%;
    }
    .s-o-6 {
        margin-left: 50%;
    }
    .s-o-7 {
        margin-left: 58.33333%;
    }
    .s-o-8 {
        margin-left: 66.66667%;
    }
    .s-o-9 {
        margin-left: 75%;
    }
    .s-o-10 {
        margin-left: 83.33333%;
    }
    .s-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .wide {
        width: 750px;
    }
    .row {
        margin-left: -6px;
        margin-right: -6px;
    }
    .col {
        padding-left: 6px;
        padding-right: 6px;
    }
    .l-0 {
        display: none;
    }
    .m-1,
    .m-2,
    .m-2-4,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .m-o-1 {
        margin-left: 8.33333%;
    }
    .m-o-2 {
        margin-left: 16.66667%;
    }
    .m-o-3 {
        margin-left: 25%;
    }
    .m-o-4 {
        margin-left: 33.33333%;
    }
    .m-o-5 {
        margin-left: 41.66667%;
    }
    .m-o-6 {
        margin-left: 50%;
    }
    .m-o-7 {
        margin-left: 58.33333%;
    }
    .m-o-8 {
        margin-left: 66.66667%;
    }
    .m-o-9 {
        margin-left: 75%;
    }
    .m-o-10 {
        margin-left: 83.33333%;
    }
    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* Larbe devide: tablet */
@media (min-width:992px) {
    .wide {
        width: 900px;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .l-0 {
        display: none;
    }
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .l-o-1 {
        margin-left: 8.33333%;
    }
    .l-o-2 {
        margin-left: 16.66667%;
    }
    .l-o-3 {
        margin-left: 25%;
    }
    .l-o-4 {
        margin-left: 33.33333%;
    }
    .l-o-5 {
        margin-left: 41.66667%;
    }
    .l-o-6 {
        margin-left: 50%;
    }
    .l-o-7 {
        margin-left: 58.33333%;
    }
    .l-o-8 {
        margin-left: 66.66667%;
    }
    .l-o-9 {
        margin-left: 75%;
    }
    .l-o-10 {
        margin-left: 83.33333%;
    }
    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* > PC low resolution */
@media (min-width: 1200px) {
    .wide {
        width: 1200px;
    }
    
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .xl-0 {
        display: none;
    }
    .xl-1,
    .xl-2,
    .xl-3,
    .xl-4,
    .xl-5,
    .xl-6,
    .xl-7,
    .xl-8,
    .xl-9,
    .xl-10,
    .xl-11,
    .xl-12 {
        display: block;
    }
    .xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .xl-o-1 {
        margin-left: 8.33333%;
    }
    .xl-o-2 {
        margin-left: 16.66667%;
    }
    .xl-o-3 {
        margin-left: 25%;
    }
    .xl-o-4 {
        margin-left: 33.33333%;
    }
    .xl-o-5 {
        margin-left: 41.66667%;
    }
    .xl-o-6 {
        margin-left: 50%;
    }
    .xl-o-7 {
        margin-left: 58.33333%;
    }
    .xl-o-8 {
        margin-left: 66.66667%;
    }
    .xl-o-9 {
        margin-left: 75%;
    }
    .xl-o-10 {
        margin-left: 83.33333%;
    }
    .xl-o-11 {
        margin-left: 91.66667%;
    }
}