
.inner{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    font-size: 1.2rem;
    display: flex;
    div{
      margin: 1%;
    }
  }
.avt{
  width: 350px;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    }
  }
.info{
  width: 80%;
  background-color: white;
  align-items: center;
  border-radius: 30px;
}

.pHead{
  padding: 8px 0;
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #ced4da;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container{
    padding: 8px 0;
    max-width: 800px;
    clear: both;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
  }
.row label{
    width:300px;
}

#pwC{
  label {
    width: 300px;
  }
}
.wrapInput{
  position: relative;
  input{
    margin: 0;
    padding-left: 0;
    position: absolute;
    float: left;
    align-items: left;
  }
}
#submit{
  margin-right: 0%;
  button{
    background-color: red;
    width: 80%;
    height: 3rem;
    border-radius: 15px;
    display: block;
    padding-right: 0%;
  }
  button:hover{
    background-color: #D20D0D;
  }
}
  .row input{
    width: 100%;
    padding-top: 0.3rem;
    padding-right: 1.1em;
    padding-bottom: 0.3rem;
    padding-left: 1.1em;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 2rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
  }
.form{
    background-color: gray;
}
